!!!5
html
  head
    script(src="//code.jquery.com/jquery.min.js")
    style.
      .ws-pre { white-space: pre; }
      .b1 { border: 1px solid green; }
      .xw100 { width: 100%; }
      .xh100 { height: 100%; }
      .db { display: block; }
  body
    #out.db.b1
      code Hello.
    button#mkdir mkdir
    button#refreshDir refresh dir
    button#createBuffer create buffer
    .ls-la-viewport.b1#dir-viewport
      i  Loading...
    article hello there
    script(src="util.js")
    script(src="main.js")
    script refreshDir("#dir-viewport")
    hr
