!!!5
html
  head
    script(src="//code.jquery.com/jquery.min.js")
    style.
      .ws-pre { white-space: pre; }
      .b1 { border: 1px solid green; }
      .xw100 { width: 100%; }
      .xh100 { height: 100%; }
      .db { display: block; }
  body
    button#createBuffer create buffer

    #out.db.b1
      code sdfd
    
    article hello there

    script(src="util.js")
    script(src="main.js")
    hr